= form_tag(t('routes.searches'), :method => 'get') do
  %div.form-group
    = label_tag :name, t('congressmen.form_name')
    = select_tag "congressmen", options_from_collection_for_select(@congressmen.persons, "name", "name", params[:congressmen]), prompt: t('congressmen.placeholder_name'), class: 'form-control chosen'

  %div.form-group
    = label_tag :organizations, t('congressmen.form_party')
    = select_tag "organizations", options_from_collection_for_select(@organizations, "name", "name", params[:organizations]), prompt: t('congressmen.placeholder_party'), class: 'form-control'

  %input{"type" => "hidden", "name" => "congressmen", "value" => 2}

  %button.btn.btn-primary.pull-right.btn-lg
    Buscar

:javascript
  $(document).ready(function(){
    $(".chosen").chosen();
  });